.movies-card-list {
  max-width: 1280px;
  width: 100%;
  padding: 80px 70px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: padding 0.5s;
}

.movies-card-list_type_saved-movies {
  padding-bottom: 247px;
}

.movies-card-list__title {
  margin: 50px 20px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  max-width: 410px;
  text-align: center;
}

@media (max-width: 768px) {
  .movies-card-list {
    padding-left: 30px;
    padding-right: 30px;
  }

  .movies-card-list_type_saved-movies {
    padding-bottom: 170px;
  }
}

@media (max-width: 564px) {
  .movies-cards__list {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 34px;
    margin-top: 50px;
    border-top: 1px solid;
    grid-auto-rows: auto;
  }
}
