.promo {
  position: relative;
  height: 561px;
  background-color: #073042;
}

.promo__title {
  max-width: 626px;
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -1.6px;
  padding-top: 52px;
  padding-left: 70px;
}

.promo__pattern {
  position: absolute;
  top: 256px;
  right: 71px;
}
