.promo {
  position: relative;
  height: 561px;
  background-color: #073042;
  background-image: url("../../assets/images/pattern.svg");
  background-repeat: no-repeat;
  background-position: 87.5% 81%;
}

.promo__title {
  max-width: 626px;
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -1.6px;
  padding-top: 52px;
  padding-left: 70px;
}
