.app {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: #202020;
  position: relative;
}

.app__input {
  margin-bottom: 2px;
}
