.header {
  height: 74px;
  background-color: #073042;
  margin-bottom: -1px;
}

.header__container {
  max-width: 89%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__nav-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
