.filter-checkbox__container {
  margin-left: 80px;
}

.filter-checkbox__label {
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
}

.filter-checkbox__label::after {
  content: "";
  width: 36px;
  height: 20px;
  background-color: #343434;
  border-radius: 15px;
  position: absolute;
  top: -3px;
  right: 131px;
}

.filter-checkbox__label::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #a0a0a0;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: 149px;
  top: -1px;
  z-index: 1;
  transition-duration: 300ms;
}

.filter-checkbox__switch {
  display: none;
}

.filter-checkbox__switch:checked + .filter-checkbox__label::before {
  right: 133px;
  background-color: #2be080;
  border: 1px solid #fff;
}
