.register {
  width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.register__logo {
  margin-top: 71px;
}

.register__form {
  margin-top: 22px;
  width: 100%;
}

.register__title {
  font: 500 24px / normal "Inter";
}

.register__form-container {
  margin: 33px 0 156px;
}

@media (max-width: 768px) {
  .register__logo {
    margin-top: 231px;
  }
  .register__title {
    margin: 0;
  }
  .register__form {
    margin-top: 42px;
  }
  .register__form-container {
    margin: 35px 0 152px;
  }
}

@media (max-width: 564px) {
  .register {
    max-width: 81%;
    align-items: center;
  }
  .register__logo {
    margin-top: 56px;
  }
  .register__form {
    margin-top: 50px;
  }
  .register__title {
    text-align: center;
  }
  .register__form-container {
    margin: 75px 0 241px;
  }
}
