.footer {
  padding: 81px 70px 21px;
  max-width: 1280;
  width: 100%;
  box-sizing: border-box;
  margin: auto auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: padding 0.5s;
}

.footer__title {
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  color: #8b8b8b;
  padding-bottom: 21px;
  border-bottom: 1px solid #424242;
}

.footer__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0 0;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
}

.footer__navigation-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.footer__navigation-link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
}
