.promo {
  max-width: 1280px;
  height: 561px;
  background-color: #073042;
}

.promo__title {
  max-width: 626px;
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -1.6px;
  padding-top: 52px;
  padding-left: 70px;
}

.promo__svg {
  margin-left: 488px;
  margin-top: 102px;
}
