.search-form {
  margin-top: 70px;
}

.search-form__string {
  display: flex;
  align-items: center;
  height: 72px;
  background-color: #2f2f2f;
  border-radius: 9px;
}

.search-form__icon {
  margin-left: 19px;
  margin-right: 8px;
}

.search-form__input {
  background-color: transparent;
  border: none;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 553px;
}

.search-form__btn {
  width: 58.65px;
  height: 34px;
  border-radius: 48px;
  background: #4285f4;
  border: none;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
}

/* Переключатель */
.search-form__switch-container {
  margin-left: 109px;
}

.search-form__switch-label {
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
}

.search-form__switch-label::after {
  content: "";
  width: 36px;
  height: 20px;
  background-color: #343434;
  border-radius: 15px;
  position: absolute;
  top: -3px;
  right: 131px;
}

.search-form__switch-label::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #2be080;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: 133px;
  top: -1px;
  z-index: 1;
  transition-duration: 300ms;
}

.search-form__switch {
  display: none;
}

.search-form__switch:checked + .search-form__switch-label::before {
  right: 121px;
}
