.login {
  max-width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login__logo {
  margin-top: 71px;
}

.login__form {
  margin-top: 23px;
  width: 100%;
}

.login__form-container {
  margin-top: 35px;
  margin: 35px 0 220px;
}

.login__title {
  font: 500 24px / normal "Inter";
}

.login__input-container {
  margin-bottom: 20px;
}

.login__input-title {
  color: #8b8b8b;
  font: 400 10px / normal "Inter";
}

.login__input {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #424242;
  color: #fff;
  font: 400 14px/2 "Inter";
}

.login__input:focus,
textarea:focus {
  outline: none;
}

.login__input-error {
  color: #ee3465;
  font: 400 10px / normal "Inter";
}

@media (max-width: 768px) {
  .login__logo {
    margin-top: 233px;
  }
}

@media (max-width: 564px) {
  .login {
    max-width: 81%;
    align-items: center;
  }
  .login__logo {
    margin-top: 56px;
  }
  .login__form {
    width: 100%;
    margin-top: 34px;
  }
  .login__title {
    text-align: center;
  }
  .login__form-container {
    margin: 75px 0 310px;
  }
}
