.login {
  background-color: #202020;
  height: 100vh;
  width: 1280px;
}

.login__container {
  max-width: 31%;
  margin: 0 auto;
}

.login__logo {
  margin-top: 71px;
}

.login__form {
  margin-top: 36px;
}

.login__title {
  font: 500 24px / normal "Inter";
}

.login__form-container {
  margin: 35px 0 221px;
}

.login__input-title {
  color: #8b8b8b;
  font: 400 10px / normal "Inter";
}

.login__input {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #424242;
  color: #fff;
  font: 400 14px/2 "Inter";
}

.login__input:focus,
textarea:focus {
  outline: none;
}

.login__input-error {
  color: #ee3465;
  font: 400 10px / normal "Inter";
}

.login__message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__message p {
  margin-right: 7px;
  color: #8b8b8b;
  text-align: center;
  font: 400 14px / normal "Inter";
}

.login-link {
  color: #4285f4;
  text-align: center;
  font: 400 14px / normal "Inter";
  text-decoration: none;
  cursor: pointer;
}

.login-link:hover {
  color: #3456f3;
}

.login__input-container {
  margin-top: 19px;
}
