.login {
  max-width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login__logo {
  margin-top: 71px;
}

.login__form {
  margin-top: 23px;
  width: 100%;
}

.login__form-container {
  margin-top: 35px;
  margin: 35px 0 220px;
}

.login__title {
  font: 500 24px / normal "Inter";
}

@media (max-width: 768px) {
  .login__logo {
    margin-top: 233px;
  }
}

@media (max-width: 564px) {
  .login {
    max-width: 81%;
    align-items: center;
  }
  .login__logo {
    margin-top: 56px;
  }
  .login__form {
    width: 100%;
    margin-top: 34px;
  }
  .login__title {
    text-align: center;
  }
  .login__form-container {
    margin: 75px 0 310px;
  }
}
